.hideByText, .hideByName, .hideByType, .hideBySeminar, .hideByLocation, .hideByCountry, .hideResultsMessage {
    display: none;
}

.noResultsToShow {
    background: #e3e3da;
    padding: 30px;
    margin: 15px;
}
