.hideByText, .hideByDestination, .hideByTerm, .hideByProgramFee, .hideByFeature, .hideByFieldOfStudy, .hideResultsMessage {
    display: none;
}

.noResultsToShow {
    background: #e3e3da;
    padding: 30px;
    margin: 15px;
}
